<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <block th:fragment = "printJobList" th:each = "job : ${jobs}">
        <table class="job-listing">
            <tr>
                <td>ID</td>
                <td th:text = "${job.getId()}"/>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text = "${job.getName()}"/>
            </tr>
            <tr>
                <td>Employer</td>
                <td th:text ="${job.getEmployer()}"/>
            </tr>
            <tr>
                <td>Location</td>
                <td th:text ="${job.getLocation()}"/>
            </tr>
            <tr>
                <td>Position</td>
                <td th:text="${job.getPositionType()}"/>
            </tr>
            <td>Skill</td>
            <td th:text ="${job.getCoreCompetency()}"/>
        </table>
    </block>


</div>

</body>
</html>